
.fadeOverflow {
  overflow: hidden;
}
.fadeOverflow {
   display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}

.customDisabled{
	pointer-events: none;
	cursor:not-allowed;
}
.borderLeft{
	border-left: 1px solid black;
}

.marginTop20AndrightAligh{
	margin-top: 20px;
	text-align: right;
}
.opacity0{
	opacity: 0;
}
.makeitcentered{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
	background: rgba(0,0,0,0.2);
	display: none;
}
.spinnerrr {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: inline-block;
  
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}